* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #ce3ab1;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh; 
  overflow-y: auto;  
}
.todo-app {
  background: #ffffff81;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}
h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.8rem;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  width: 90%;
  border: 1px solid #dddddd;
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
  padding: 8px 15px;
  background-color: #1ad117;
  border: none;
  border-radius: 9px;
  font-weight:bold;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 8px;
  position:relative;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
button:hover {
  background-color: #b734eb;
  transform:scale(1.05)
}
.task-container {
  max-height: 300px; 
  overflow-y: auto;  
  padding-right: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
li {
  background-color: rgba(187, 36, 229, 0.338);
  border-radius: 10px;
  padding: 10px;
  margin-top:17px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold ;
  font-size: small;
}
li:hover{
  transition: background-color 0.3s ease;
  transform:scale(1.05)
}
li.completed {
  text-decoration:line-through;
  color: gray;
  background-color: #0ae74c4d;
}
li input[type="checkbox"] {
  margin-right: 10px;
}
li .task-details {
  display: flex;
  align-items: center;
}
li button {
  background-color: #e74d3c8f;
  padding: 5px 10px;
  margin-top:2px;
  font-size: 0.8rem;
  border-radius: 5px;
}
li button:hover {
  background-color: #c0392b;
}
@media (max-width: 600px) {
  .todo-app {
    padding: 15px;
    width: 90%;
  }

  input[type="text"] {
    width: 60%;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li button {
    margin-top: 10px;
  }
}
